<launch>
  <arg name="serial_no_camera1"    default="816312062029"/>
  <arg name="serial_no_camera2"    default="751412060766"/>
  <arg name="pc_to_save"           default="satellite"/>
  <include file="$(find dualcamerasaver)/launch/defs.machine"/>

   <!-- Note: this is for the moment not synchronized. the real solution is
   something probably using this: http://docs.ros.org/api/image_transport/html/classimage__transport_1_1SubscriberFilter.html
   see example here: https://answers.ros.org/question/9705/synchronizer-and-image_transportsubscriber/ -->

  <group ns="camera1">
    <include file="$(find dualcamerasaver)/launch/nodelet.launch.xml">
      <arg name="serial_no"    value="$(arg serial_no_camera1)"/>
      <arg name="align_depth"         value="true"/>
      <arg name="enable_color"        value="true"/>
      <arg name="enable_infra1"       value="false"/>
      <arg name="enable_infra2"       value="false"/>
      <arg name="enable_pointcloud"   value="false"/>
      <arg name="enable_fisheye"      value="false"/>
      <arg name="enable_imu"          value="false"/>
      <arg name="fisheye_fps"         value="6"/>
      <arg name="depth_fps"           value="6"/>
      <arg name="infra1_fps"          value="6"/>
      <arg name="infra2_fps"          value="6"/>
      <arg name="color_fps"           value="6"/>
      <arg name="gyro_fps"            value="100"/>
      <arg name="accel_fps"           value="100"/>
      <arg name="depth_width"         value="640"/>
      <arg name="depth_height"        value="480"/>
      <arg name="color_width"         value="640"/>
      <arg name="color_height"        value="480"/>
      <arg name="machine"             value="satellite"/>
    </include>
    <include file="$(find dualcamerasaver)/launch/saverserv.launch">
      <arg name="machine"             value="$(arg pc_to_save)"/>
      <arg name="camera_num"          value="1"/>
      <arg name="savetopic"           value="/color/image_raw"/>
      <arg name="nameprefix"          value="color"/>
      <arg name="encoding"            value="bgr8"/>
    </include>
    <include file="$(find dualcamerasaver)/launch/saverserv.launch">
      <arg name="machine"             value="$(arg pc_to_save)"/>
      <arg name="camera_num"          value="1"/>
      <arg name="savetopic"           value="/aligned_depth_to_color/image_raw"/>
      <arg name="nameprefix"          value="depth"/>
      <arg name="encoding"            value="16UC1"/>
    </include>

  </group>

  <group ns="camera2">
    <include file="$(find dualcamerasaver)/launch/nodelet.launch.xml">
      <arg name="serial_no"    value="$(arg serial_no_camera2)"/>
      <arg name="align_depth"         value="true"/>
      <arg name="enable_color"        value="true"/>
      <arg name="enable_infra1"       value="false"/>
      <arg name="enable_infra2"       value="false"/>
      <arg name="enable_pointcloud"   value="false"/>
      <arg name="enable_fisheye"      value="false"/>
      <arg name="enable_imu"          value="false"/>
      <arg name="fisheye_fps"         value="6"/>
      <arg name="depth_fps"           value="6"/>
      <arg name="infra1_fps"          value="6"/>
      <arg name="infra2_fps"          value="6"/>
      <arg name="color_fps"           value="6"/>
      <arg name="gyro_fps"            value="100"/>
      <arg name="accel_fps"           value="100"/>
      <arg name="depth_width"         value="640"/>
      <arg name="depth_height"        value="480"/>
      <arg name="color_width"         value="640"/>
      <arg name="color_height"        value="480"/>
      <arg name="machine"             value="satellite"/>
    </include>
    <include file="$(find dualcamerasaver)/launch/saverserv.launch">
      <arg name="machine"             value="$(arg pc_to_save)"/>
      <arg name="camera_num"          value="2"/>
      <arg name="savetopic"           value="/color/image_raw"/>
      <arg name="nameprefix"          value="color"/>
      <arg name="encoding"            value="bgr8"/>
    </include>
    <include file="$(find dualcamerasaver)/launch/saverserv.launch">
      <arg name="machine"             value="$(arg pc_to_save)"/>
      <arg name="camera_num"          value="2"/>
      <arg name="savetopic"           value="/aligned_depth_to_color/image_raw"/>
      <arg name="nameprefix"          value="depth"/>
      <arg name="encoding"            value="16UC1"/>
    </include>
  </group>
</launch>
