<launch>
  <arg name="serial_no_camera1"    default="816312062029"/>
  <arg name="serial_no_camera2"    default="751412060766"/>

   <!-- Note: this is for the moment not synchronized. the real solution is
   something probably using this: http://docs.ros.org/api/image_transport/html/classimage__transport_1_1SubscriberFilter.html
   see example here: https://answers.ros.org/question/9705/synchronizer-and-image_transportsubscriber/ -->

  <group ns="camera1">
    <include file="$(find dualcamerasaver)/launch/nodelet.launch.xml">
      <arg name="serial_no"    value="$(arg serial_no_camera1)"/>
      <arg name="align_depth"         default="true"/>
    </include>
  </group>

  <group ns="camera2">
    <include file="$(find dualcamerasaver)/launch/nodelet.launch.xml">
      <arg name="serial_no"    value="$(arg serial_no_camera2)"/>
      <arg name="align_depth"         default="true"/>
    </include>
  </group>
</launch>
